@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --darkgrey:#4D4F62;
    --lightgray:#6A7178;
    --lang:Poppins;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}

.main_info{
    margin: 0 auto;
    margin-top: 102px;
    max-width:540px;
    height:158px;
    text-align: center;
    margin-bottom: 74px;
}
.upperh{
    font-family:var(--lang);
    font-weight: 275;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color:var(--darkgrey);
}
.bold{
    font-family:var(--lang);
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color:var(--darkgrey);
}
.upperp{
    font-family:var(--lang);
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-grey-500);
}
.grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
    gap: 1.5rem 1.5rem;
}

.supervisor{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}
.teambuilder {
    grid-column: 2 / 3;
    grid-row: 1 / 3;      
}
.karma {
    grid-column: 2 / 3;
    grid-row: 3 / 5;     
}
.calculator {
    grid-column: 3 / 4;
    grid-row: 2 / 4;     
}
.card{
    border-radius: 8px;
    padding: 32px;
    width: 350px;
    height: 250px;
    position: relative;
    box-shadow: 0 4px 12px  rgba(131, 166, 210, 0.5);
    background:white;
}
.card::before{
    content:'';
    background-color: aqua;
    width: 100%;
    height:5px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
}
.teambuilder::before{
    content:'';
    background-color:#EA5454;
    width: 100%;
    height:5px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
}
.karma::before{
    content:'';
    background-color:#FCAE4A;
    width: 100%;
    height:5px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
}
.calculator::before{
    content:'';
    background-color:#549EF2;
    width: 100%;
    height:5px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
}
.cardtext h3{
    font-family: var(--lang);
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    color: var(--darkgrey);
}
.cardtext p{
    padding-top: 6px;
    font-family: var(--lang);
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: var(--darkgrey);
}
.imgcont{
    display: flex;
    justify-content: end;
}
.imgcont img{
    margin-top: 32px;
}

@media(max-width:770px){
    .grid_container{
        gap: 1.5rem 1.5rem;
        grid-template-columns:repeat(5, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .supervisor{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .teambuilder {
        grid-column: 2/4;
        grid-row: 1 / 2;      
    }
    .karma {
        grid-column: 3/ 5;
        grid-row: 2 / 3;     
    }
    .calculator {
        grid-column: 2 / 4;
        grid-row: 3 / 4;     
    }
}
@media(max-width:430px){
    .upperh{
    font-weight: 275;
    font-size: 24px;
    }
    .bold{
    font-weight: 600;
    font-size: 24px;
    }
    .grid_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
    
}